<nav>
  <div class="nav-wrapper">
    <div class="container-fluid">
      {{link-to 'Wicked Good Ember - Composability is the key' 'index' class='brand-logo'}}
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>
<ul class="side-nav fixed" id="mobile-demo">
  {{yield}}
</ul>