{{#nav-bar}}
  {{#link-to 'computed-properties' tagName='li'}}
    <a>Computed Properties</a>
  {{/link-to}}
  {{#link-to 'components.index' tagName='li'}}
    <a>Components</a>
  {{/link-to}}
  {{#link-to 'testing.index' tagName='li'}}
    <a>Testing</a>
  {{/link-to}}
{{/nav-bar}}
<main>
{{outlet}}
</main>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}